{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/header/header.css') }}">
<!---- ------ ------>
    <div class="topnav" id="myTopnav">
        <div class="menu-img">
           <a href="{{ path('index') }}" style="background: none!important;">
               <img src="{{ asset('assets/IMG/header/logo-crea.png') }}" alt="">
           </a>
        </div>
        <div class="menu-btn" id="menu-btn">
            <a href="{{ path('tickets') }}">Ticket</a>
            <a href="{{ path('index') }}">Accueil</a>
            <a href="{{ path('posts_list') }}">Blog</a>
            <a href="{{ path('projects_list') }}">Projets</a>
            <a href="{{ path('app_login') }}">Connexion</a>
        </div>
    </div>
    <!---- ------ ------>
    <script rel="script" src="{{ asset('assets/js/header/header.js') }}"></script>
{% endblock %}