{% extends 'base.html.twig' %}

{% block title %}Creativ'Lab | Details{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/poles/poles.css') }}">
    <!---- ------ ------>
    {{ include('website/header.html.twig') }}
    <!---- ------ ------>
    <section>
        {% if data is defined %}
            <span>{{ data.name }}</span>
            <div style="background-color: url('{{ asset(data.mainPictureUrl) }}')"></div>
            <ul>
                {% for cont in data.contributors %}
                    <li>{{ cont }}</li>
                {% endfor %}
            </ul>
            <div>
                {{ data.description }}
            </div>
        {% endif %}
    </section>
    <!---- ------ ------>
    {{ include('website/footer.html.twig') }}
    <!---- ------ ------>
    <script rel="script" src="{{ asset('assets/js/index/projets.js') }}"></script>
{% endblock %}