{% extends 'base.html.twig' %}

{% block title %}Creativ'Lab | Pôle 3D{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/poles/poles.css') }}">
    <!---- ------ ------>
    {{ include('website/header.html.twig') }}
    <!---- ------ ------>
    <section>
        <div class="main-img">
            <img src="{{ asset('assets/IMG/3d/impression.png') }}">
        </div>
        <div class="informations">
            <h1 style="color: gold;">Informations</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et id facilisi posuere eu. Tristique justo, sed sodales condimentum porta convallis purus. Vel mattis tincidunt nunc ac mi cursus. Eget purus semper nam viverra suspendisse. Tincidunt non quis sit accumsan cras.
                Fringilla pretium, aliquam non adipiscing. Mauris quis odio nisi, est urna sit id sed. Id diam, erat diam leo amet vel. Praesent enim tellus sit nunc turpis augue aenean. Phasellus quis porta viverra pellentesque pulvinar eget aliquet pellentesque augue. At pellentesque amet arcu lacus at porta. Vulputate at donec pellentesque ultricies vitae leo amet. Risus pellentesque rhoncus adipiscing aliquam vitae dis sed eu. Ac sed diam magna urna sagittis dui amet ac. Est, nunc urna tincidunt mauris at sed sed. Id nibh non gravida massa aliquam gravida pretium in et. Massa eget rhoncus nec accumsan enim. Eu nulla purus varius nunc laoreet feugiat sed at mus.
                Blandit amet, venenatis ut adipiscing tristique lectus tempor, elementum sed. Vulputate eu, lorem gravida odio lectus mauris. Elementulerisque nulla proin in. At sem congue laoreet sit elementum sit tellus quisque purus. Velit arcu tincidunt purus habitasse lorem pellentesque scelerisque tellus. Rhoncus dignissim adipiscing feugiat eu tristique sed non vel. Nisi eget ultricies nunc ornare molestie mollis lacinia. Venenatis purus.</p>
        </div>
        <div class="slider">
            <div class="slideshow-container">

                <div class="mySlides fade">
                    <div class="numbertext">1 / 3</div>
                    <img src="https://source.unsplash.com/user/c_v_r/1920x1081" style="width:100%">
                    <div class="text">Caption Text</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">2 / 3</div>
                    <img src="https://source.unsplash.com/user/c_v_r/1920x1080" style="width:100%">
                    <div class="text">Caption Two</div>
                </div>

                <div class="mySlides fade">
                    <div class="numbertext">3 / 3</div>
                    <img src="https://source.unsplash.com/user/c_v_r/1920x1079" style="width:100%">
                    <div class="text">Caption Three</div>
                </div>

                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>

            </div>
            <br>

            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>
        <div>
            <hr style="background: #9281b0;">
        </div>
        <div class="tutoriels">
            <h1 style="color: gold;">Tutoriels</h1>
            <div class="etapes">
                <div class="etapes-detail">
                    <h3 style="color: orange;"> Title Etape</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras etiam id donec eu orci. Ut pharetra, phasellus mus convallis tincidunt malesuada metus est. Amet at aliquam faucibus nascetur ullamcorper libero. Quam neque tellus laoreet netus. Duis felis molestie ut enim viverra proin. Sagittis nibh sed amet in urna dui ornare at semper. Diam diam fermentum accumsan, commodo enim. Purus massa eget vel viverra fringilla non. Ultricies sem placerat tortor nec venenatis praesent lectus vitae. Lorem suspendisse rhoncus sit sit dictum in convallis. Donec et tincidunt nunc ultricies tortor nisl tempor. Amet lorem libero pellentesque enim.
                        Varius tempor ac nunc, a lobortiss porta rutrum lectus. Dignissim.</p>
                </div>
                <div>
                    <img src="{{ asset('assets/IMG/3d/etape1.png') }}" width="350px">
                </div>
            </div>
            <div class="etapes">
                <div>
                    <img src="{{ asset('assets/IMG/3d/etape2.png') }}" width="350px">
                </div>
                <div class="etapes-detail">
                    <h3 style="color: orange;"> Title Etape</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras etiam id donec eu orci. Ut pharetra, phasellus mus convallis tincidunt malesuada metus est. Amet at aliquam faucibus nascetur ullamcorper libero. Quam neque tellus laoreet netus. Duis felis molestie ut enim viverra proin. Sagittis nibh sed amet in urna dui ornare at semper. Diam diam fermentum accumsan, commodo enim. Purus massa eget vel viverra fringilla non. Ultricies sem placerat tortor nec venenatis praesent lectus vitae. Lorem suspendisse rhoncus sit sit dictum in convallis. Donec et tincidunt nunc ultricies tortor nisl tempor. Amet lorem libero pellentesque enim.
                        Varius tempor ac nunc, a lobortiss porta rutrum lectus. Dignissim.</p>
                </div>
            </div>
        </div>
        <div>
            <hr style="background: #9281b0;">
        </div>
    </section>
    <!---- ------ ------>
    {{ include('website/actualites.html.twig') }}
    <!---- ------ ------>
    {{ include('website/footer.html.twig') }}
    <!---- ------ ------>
    <script rel="script" src="{{ asset('assets/js/poles/poles.js') }}"></script>
{% endblock %}