{% extends 'base.html.twig' %}

{% block title %}DevLab | Projets{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/projets/projets.css') }}">
    <!---- ------ ------>
    {{ include('website/header.html.twig') }}
    <!---- ------ ------>
    <section>
        <div class="main-img">
            <img src="{{ asset('assets/IMG/projets/projets.png') }}">
        </div>
        <div class="carousel">
            <h1 style="text-align: center!important;margin: 0;font-size: 50px">Projets Récents</h1>
            <ul class="carousel-items">
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">That's some awesome article</h2>
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                            <a href="#" class="button">En savoir plus</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">Just a lot or articles !</h2>
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                            <a href="#" class="button">En savoir plus</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">One more, one more !</h2>
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                            <a href="#" class="button">En savoir plus</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">Again !</h2>
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                            <a href="#" class="button">En savoir plus</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">One last</h2>
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                            <a href="#" class="button">En savoir plus</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <hr style="background: salmon;">
        </div>
        <div class="carousel">
            <h1 style="text-align: center!important;margin: 0;font-size: 50px">Projets Récents</h1>
            <ul class="carousel-items">
                <li class="carousel-item">
                    <div class="card">
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                        </div>
                    </div>
                    <div class="card">
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!---- ------ ------>
    {{ include('website/footer.html.twig') }}
    <!---- ------ ------>
    <script rel="script" src="{{ asset('assets/js/index/projets.js') }}"></script>
{% endblock %}