{% extends 'base.html.twig' %}

{% block title %}Creativ'Lab | Projets{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/projets/projets.css') }}">
    <!---- ------ ------>
    {{ include('website/header.html.twig') }}
    <!---- ------ ------>
    <section>
        <div class="main-img">
            <img src="{{ asset('assets/IMG/projets/projets.png') }}">
        </div>
        <div class="carousel">
            <h1 style="text-align: center!important;margin: 0;font-size: 50px;text-shadow: 2px 2px 4px rgba(133, 133, 133, 0.62);">Projets Récents</h1>
            <ul class="carousel-items">
                <li class="carousel-item">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/1920x1080/?img=1" />
                        <div class="card-content">
                            <h3 style="text-align: center;margin: 10px">Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/1920x1081/?img=1" />
                        <div class="card-content">
                            <h3 style="text-align: center;margin: 10px">Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/1920x1082/?img=1" />
                        <div class="card-content">
                            <h3 style="text-align: center;margin: 10px">Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/1920x1083/?img=1" />
                        <div class="card-content">
                            <h3 style="text-align: center;margin: 10px">Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <img src="https://source.unsplash.com/random/1920x1084/?img=1" />
                        <div class="card-content">
                            <h3 style="text-align: center;margin: 10px">Title</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <hr style="background: black;">
        </div>
        <div class="carousel-proto">
            <h1 style="text-align: center!important;margin: 0;font-size: 50px;color: darkorange;text-shadow: 2px 2px 4px rgba(133, 133, 133, 0.62);">Pôle Prototypage</h1>
            <ul class="carousel-items-proto">
                {% for proto in data_proto %}
                    <li class="carousel-item-proto">
                        <a href="{{ path('detailed_page') }}">
                            <div class="card-proto">
                                <div>
                                    <img src="{{ asset(proto.mainPictureUrl) }}"  alt="#"/>
                                </div>
                                <div class="card-content-proto">
                                    <p> {{ proto.name }} </p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel-proto">
            <h1 style="text-align: center!important;margin: 0;font-size: 50px;color: deeppink;text-shadow: 2px 2px 4px rgba(133, 133, 133, 0.62);">Pôle Électronique</h1>
            <ul class="carousel-items-proto">
                {% for elec in data_elec %}
                    <li class="carousel-item-proto">
                        <a href="{{ path('detailed_page') }}">
                            <div class="card-proto">
                                <div>
                                    <img src="{{ asset(elec.mainPictureUrl) }}" />
                                </div>
                                <div class="card-content-proto">
                                    <p> {{ elec.name }} </p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="carousel-proto">
            <h1 style="text-align: center!important;margin: 0;font-size: 50px;color: gold;text-shadow: 2px 2px 4px rgba(133, 133, 133, 0.62);">Pôle Impression 3D</h1>
            <ul class="carousel-items-proto">
                {% for print in data_print %}
                    <li class="carousel-item-proto">
                        <a href="{{ path('detailed_page') }}">
                            <div class="card-proto">
                                <div>
                                    <img src="{{ asset(print.mainPictureUrl) }}" />
                                </div>
                                <div class="card-content-proto">
                                    <p> {{ print.name }} </p>
                                </div>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
    {{ include('website/footer.html.twig') }}
    <script rel="script" src="{{ asset('assets/js/index/projets.js') }}"></script>
{% endblock %}