{% extends 'base.html.twig' %}

{% block title %}DevLab | Projets{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('assets/css/projets/projets.css') }}">
    <!---- ------ ------>
    {{ include('website/header.html.twig') }}
    <!---- ------ ------>
    <section>
        <div class="main-img">
            <img src="{{ asset('assets/IMG/projets/projets.png') }}">
        </div>
        <div class="carousel">
            <h1 style="text-align: center!important;margin: 0;font-size: 50px;text-shadow: 2px 2px 4px rgba(133, 133, 133, 0.62);">Actualités</h1>
            <ul class="carousel-items">
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">That's some awesome article</h2>
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                            <a href="#" class="button">En savoir plus</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">Just a lot or articles !</h2>
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                            <a href="#" class="button">En savoir plus</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">One more, one more !</h2>
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                            <a href="#" class="button">En savoir plus</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">Again !</h2>
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                            <a href="#" class="button">En savoir plus</a>
                        </div>
                    </div>
                </li>
                <li class="carousel-item">
                    <div class="card">
                        <h2 class="card-title">One last</h2>
                        <img src="https://placeimg.com/572/322/animals" />
                        <div class="card-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat velit nunc, in mollis turpis accumsan nec. Quisque justo ante, fermentum ac elit sit amet, rhoncus semper mauris. Morbi a tempor enim, quis congue dui. Vestibulum aliquam pulvinar ipsum quis ullamcorper. Donec varius egestas lorem, fermentum dapibus arcu elementum nec.</p>
                            <a href="#" class="button">En savoir plus</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <hr style="background: black;">
        </div>
        <div class="carousel-proto">
            <h1 style="text-align: center!important;margin: 0;font-size: 50px;color: darkorange;text-shadow: 2px 2px 4px rgba(133, 133, 133, 0.62);">Pôle Prototypage</h1>
            <ul class="carousel-items-proto">
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-vert.png') }}" />
                        </div>
                            <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-vert.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-vert.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-vert.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-vert.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-vert.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="carousel-proto">
            <h1 style="text-align: center!important;margin: 0;font-size: 50px;color: deeppink;text-shadow: 2px 2px 4px rgba(133, 133, 133, 0.62);">Pôle Électronique</h1>
            <ul class="carousel-items-proto">
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-bleu.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-bleu.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-bleu.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-bleu.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-bleu.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-bleu.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="carousel-proto">
            <h1 style="text-align: center!important;margin: 0;font-size: 50px;color: gold;text-shadow: 2px 2px 4px rgba(133, 133, 133, 0.62);">Pôle Impression 3D</h1>
            <ul class="carousel-items-proto">
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-violet.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-violet.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-violet.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-violet.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-violet.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
                <li class="carousel-item-proto">
                    <div class="card-proto">
                        <div>
                            <img src="{{ asset('assets/IMG/projets/type-violet.png') }}" />
                        </div>
                        <div class="card-content-proto">
                            <p> TITLE </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!---- ------ ------>
    {{ include('website/footer.html.twig') }}
    <!---- ------ ------>
    <script rel="script" src="{{ asset('assets/js/index/projets.js') }}"></script>
{% endblock %}